section.container
	#card(itemscope itemtype="http://schema.org/Person")
		figure.front
			div(itemprop="name") Sean Lang
			div(itemprop="jobTitle")
				span#mainJobTitle Creative Developer
				#ampJobTitle &
				span#subJobTitle Software Engineer
		figure.back
			.wrap
				div(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
					//span(itemprop="streetAddress") 555 Street Address
					//|, 
					span(itemprop="addressLocality") Waukesha
					|, 
					span(itemprop="addressRegion") Wisconsin
					|, 
					//span(itemprop="postalCode") 53072
					//| 
					span(itemprop="addressCountry") U.S.A.
				div(itemprop="telephone") (262) 701-7042
				a(href="mailto:slang800@gmail.com", itemprop="email") slang800@gmail.com
				a(rel="me", itemprop="url", href="http://slang.cx", title="Portfolio") slang.cx

button#flip(title='Flip Card')

script.
	var init = function() {
		var card = document.getElementById('card');
		document.getElementById('flip').addEventListener( 'click', function(){
			card.classList.toggle('flipped');
		}, false);
	};
	window.addEventListener('DOMContentLoaded', init, false);

section
	:markdown
		# What I've Been Up To Recently

		## Web Development With Jade
		[Packt Publishing](http://www.packtpub.com/) approached me, requesting that I write a book about web development with [Jade](http://jade-lang.com/), since I have contributed code and user support for the  Jade compiler on several occasions. I agreed to work with them, and I'll be finishing my first book some time in early September.

		## Nib
		I've taken over all future development for [nib](http://visionmedia.github.io/nib/), the most popular CSS library for Stylus. A project that eliminates redundant CSS with automatic vendor prefixing and a variety of mixins to improve your CSS. I've also begun a merge between nib and a similar library known as [axis](http://roots.cx/axis/). Since axis has a similar goal, pulling it into nib can benefit everyone.

		## Roots
		I was recently introduced to an open-source static site generator made by [Jeff Escalante](http://jenius.me), known as [roots](http://roots.cx). Although I generally don't build traditional static sites, I saw enormous potential in its asset compilation features for use in web application development. So, I've begun contributing to roots with the intent of making it a powerful web-app building tool. Our work can be seen publicly on the [roots github repo](https://github.com/jenius/roots).

		## ArtBeyond.org
		[ArtBeyond](http://artbeyond.org/) is a gallery website that I created in collaboration with Chaz Southard from [CCS Design House](http://www.ccsdesignhouse.com/). The site is made to promote an art gallery which is being used to raise funds to help fuel spinal cord research at MIT.

		All content on the site is managed through a customized WordPress backend, that holds tagged imagery from 12 different artists. The site dynamically re-organizes itself to fit to screens as small as 300px, making it very mobile friendly. Also, it includes a guest-book feature that allows people visiting the gallery to share comments on their experience.

		## Shiva
		[Shiva](https://pypi.python.org/pypi/shiva) is a server, written in Python, that provides a RESTful API for your music collection. The project was started by Alvaro Mouriño and inspired me to write a client for Shiva that combines the simplicity of Google's Music Player, with the utility of players like foobar2000. The solution was a web-app based on the new Web Audio API, allowing the user to access their music collection with the same player on all devices. The progress of this project can be seen at [slang800/shiva-client](https://github.com/slang800/shiva-client).

		## PackWI.com
		[PackWI](http://packwi.slang.cx) is a simple website for Handle With Care, The Packaging Store of Milwaukee. This site includes a WordPress backend for managing content, and a contact form for requesting quotes directly off the website. Sadly, Handle With Care closed because the market for shipping fragile, large, awkward, and valuable items in Wisconsin is very small. So, the website is only being hosted as part of this portfolio, and the domain name (packwi.com) is sold off.


