section.container
	#card(itemscope itemtype="http://schema.org/Person")
		figure.front
			div(itemprop="name") Sean Lang
			div(itemprop="jobTitle")
				span#mainJobTitle Creative Developer
				#ampJobTitle &
				span#subJobTitle Software Engineer
		figure.back
			.wrap
				div(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
					//span(itemprop="streetAddress") 555 Street Address
					//|, 
					span(itemprop="addressLocality") Waukesha
					|, 
					span(itemprop="addressRegion") Wisconsin
					|, 
					//span(itemprop="postalCode") 53072
					//| 
					span(itemprop="addressCountry") U.S.A.
				div(itemprop="telephone") (262) 701-7042
				a(href="mailto:slang800@gmail.com", itemprop="email") slang800@gmail.com
				a(rel="me", itemprop="url", href="http://slang.cx", title="Portfolio") slang.cx

button#flip(title='Flip Card')

script.
	var init = function() {
		var card = document.getElementById('card');
		document.getElementById('flip').addEventListener( 'click', function(){
			card.classList.toggle('flipped');
		}, false);
	};
	window.addEventListener('DOMContentLoaded', init, false);
