!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='author', content="Sean Lang")
    meta(name='description', content='creative software engineer and web application developer')

    link(href='http://fonts.googleapis.com/css?family=Oxygen:300', rel='stylesheet', type='text/css')

    title The Portfolio of Sean Lang
    
    link(rel='stylesheet', href='css/master.css')
  body
    != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
